* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

/* header/nav STYLES START */
header {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header h1 {
    font-weight: bold;
    font-size: 48px; 
    color: white;
    display: inline-block;
}

header nav {
    padding-top: 15px;
    margin-right:20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    color: white;
    text-decoration: none;
}

header nav ul {
    float: right;
    font-size: 20px;
    align-items: center;
    color: white;
}

header nav ul li a {
    padding: 10px 15px;
    text-decoration: underline;
}

/* PADDING BETWEEN EACH SECTION start */
section {
    padding: 30px; 
}
/* PADDING BETWEEN EACH SECTION end */

/* HERO/SUBTITLE STYLES start */
.hero {
    background-image: url(../images/downtown-new.png);
    height: 200px;
    width: 1519px; 
}

.hero-cta {
    border: 2px solid;
    width: 200px; 
    height: 50px;
    display: block;
    float: right;
    margin: 100px 100px;
    background-color: white;
}

.hero-cta h3 {
    font-size: 35px;
    padding: 5px;
    margin: -2px 3px;
}
/* HERO/SUBTITLE STYLES end */

/* ABOUT ME section STYLES start */
.about-me-section {
    height: 300px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.about-me {
    height: 250px;
    width: 300px;
    margin: 0px;
    float: left;
    border-right: 5px solid;
}

.about-me h3 {
    float: right;
    margin: 0px 20px;
    font-size: 60px;
}

.about-me-text {
    margin: 0px 100px;
    width: 90%;
}

.about-me-text p {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 230px;
    padding: 10px;
}
/* ABOUT ME section STYLES end */

.work-section {
    background-color: white;
    height: 1000px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.work {
    height: 1000px;
    width: 300px;
    margin: 0px;
    float: left;
    border-right: 5px solid;
}

.work h3 {
    float: right;
    margin: 0px 20px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.projects {
    width: 1120px;
    height: 1000px;
    float: right;
    background-color: gray;
}

.primary-project {
    background-image: url(../images/run-buddy-screenshot.png);
    width: 1120px;
    height: 498px;
}

.project-language {
    width: 150px; 
    height: 50px;
    display: block;
    float: left;
    margin: 425px 800px 100px 25px;
    background-color: #39a6b2;
}

.project-language h4 p {
    color: #024e76;
    margin-left: 10px;
    margin-top: 5px;
}

.secondary-projects {
    width: 1120px;
    height: 400px;
    padding: 40px;
}

.secondary-project-1 {
    float: left;
    height: 200px;
    width: 50%;
    margin: -20px;
    margin-top: -50px;
    background-image: url(../images/sec-proj-1.png);
}

.secondary-project-2 {
    float: right;
    height: 200px;
    width: 50%;  
    margin: -20px;
    margin-top: -50px;
    background-image: url(../images/sec-proj-2.png);
}

.secondary-project-3 {
    float: left;
    height: 200px;
    width: 50%;
    margin: -20px;
    margin-top: 50px;
    background-image: url()
}

.secondary-project-4 {
    float: right;
    height: 200px;
    width: 50%;  
    margin: -20px;
    margin-top: 50px;
    background-image: url()
}